@import 'mixins';

input {
  @include placeholder {
    color: #939597;
  }
}

div.field {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    background: #ccc;
    border: 1px solid #999;
    color: #333;
    @include border-radius(3px);
    display: block;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    @include appearance;
    @include transition(all 120ms linear);

    &:focus {
      border-color: #A7A9AC;
    }
  }

  input { 
    padding: 12px; 
    font-size: 80%;
    &:hover{

    }
  }

  &.short-textarea {
    textarea { height: 150px; }
  }

  textarea {
    padding: 7px; resize: vertical; height: 344px;

    &.code { font-family: monospace, sans-serif; font-size: 14px; line-height: 24px; }
  }
}

div.field {
  position: relative; margin-bottom: 20px; padding: 0 10px;

  @include two-columns {
    padding: 0;
  }

  @include one-column {
    padding: 0;
  }

  p.error { float: right; font-size: 11px; color: #EF4036; margin-bottom: 0 !important; line-height: 28px !important; white-space: nowrap; }

  div.field_with_errors, &.field_with_errors {
    label { color: #EF4036; float: left; }

    input, textarea, .default-select {
      border-color: #EF4036;

      &:focus { border-color: #EF4036; }
    }
  }

  label {
    display: block;  font-weight: 600; margin-bottom: 2px; font-size: 14px;

    em { font-weight: normal; font-style: normal; }

    a { float: right; display: block; font-size: 12px; line-height: 1; margin-top: 4px; }
  }
 
  &.remember.me{
    float: left;
    clear: both;
    width: 100%;
    input[type="checkbox"]{
      float: left;
    }
    label { 
      float: left; 
      margin: 0 0 0 0.5em;
    }
  }

  

  &.select-container {
    &.focused {
      div.select-arrow { background-position: bottom; }
    }

    &.labeled {
      div.select-arrow { top: 53px; }
    }

    div.select-arrow {
      pointer-events: none; background: 0 0 no-repeat; content: ""; display: block; width: 9px; height: 5px; position: absolute; right: 13px; top: 50%; margin-top: -1px;

      @include retina-media {
        background: 0 0 no-repeat; background-size: cover;
      }
    }
  }

  select {
    display: block; width: 100%;

    &.default-select {
      @include appearance; border: 2px solid #CCD8DF; @include border-radius(4px); font-size: 14px; color: #969DA3; font-weight: 600; padding: 15px 12px 16px; background: #fff;

      &:focus { border-color: #6FBDC3; color: #6FBDC3; }
    }
  }


  &.full { margin-right: 0; width: 100%; }
  &.xtiny { width: 68px; }
  &.tiny { width: 78px; }
  &.xxxsmall { width: 100px; }
  &.xxsmall { width: 120px; }
  &.xsmall { width: 160px; }
  &.small { width: 180px; }
  &.medium { width: 300px; }
  &.large { width: 584px; }

  &.inline {
    float: left; clear: none;

    &.first { clear: left; }
    &.last { margin-right: 0; }
  }

  &.money {
    &:before { content: "$"; position: absolute; bottom: 7px; left: 9px; }

    input { padding-left: 16px; }
  }

  &.upload {
    border: 2px dashed #CCD8DF; width: 224px; height: 224px; @include border-radius(4px); position: relative; overflow: hidden; background: #CCD8DF; background-clip: content-box; padding: 2px;

    img { display: block; position: absolute; top: 0; left: 0; max-width: 100%; @include border-radius(3px); }

    input { display: none; }
    button { margin: 90px auto 0; display: block; }
  }


  div.checks {
    padding-top: 7px;

    &.wide {
      label { width: 80px; }
    }

    &.bold {
      label { font-weight: 600; color: #3C4142; }
    }

    label {
      font-weight: normal; float: left; margin-right: 10px; width: 50px; cursor: pointer;

      div.checkbox, div.radio { float: left; margin: 2px 4px 0 0; }
    }
  }
}

div.actions {
  @include two-columns {
    padding: 10px 0 0;
  }

  @include one-column {
    padding: 10px 0 0;
  }

  input[type="submit"], button, .button {
    &.first { float: left; margin-right: 10px; }
    &.last { float: right; margin-left: 10px; }
  }
}

