.alert-danger{
  margin: 0 auto;
  border: 1px solid #900;
  background: #FADEDE;
  padding: 0.5em;
  color: #811;
}

.alert-success{
	margin: 0 auto;
	border: 1px solid #134D00;
	background: #D1EDC7;
	padding: 0.5em;
	color: #134D00;
}

.login{
	h2{
	  margin:1em 0;
	}
}