
<div class="fortune">
  <div class="cookie"></div>
  <div class="copy container" data-id="<%= fortune.id %>">
    <span class="face"></span>
    <em><%= fortune.copy %></em>
    <span class="face"></span>
  </div>
</div>
