
body{
  font-family: 'Laila', serif;  
  background: #EFEFEF;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


h1 { 
  font-weight: 700;
}

.cookie {
  img{
    max-width: 240px;
  }
}

.fortune{
  background: white;
  font-size: $h2;
}


@media screen and (min-width: $viewport-small) {
  .fortune{ 
    font-size: $h3;
  }
}


@media screen and (min-width: $viewport-medium) {
  .fortune{ 
    font-size: $h1;
  }
}



@media screen and (min-width: $viewport-large + 14) {
  .fortune{ 
    font-size: $h0;
  }
}