.grd-1{
	background: rgba(236,111,102,1);
  background: -moz-linear-gradient(top, rgba(236,111,102,1) 0%, rgba(239,131,114,1) 40%, rgba(243,161,131,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,111,102,1)), color-stop(40%, rgba(239,131,114,1)), color-stop(100%, rgba(243,161,131,1)));
  background: -webkit-linear-gradient(top, rgba(236,111,102,1) 0%, rgba(239,131,114,1) 40%, rgba(243,161,131,1) 100%);
  background: -o-linear-gradient(top, rgba(236,111,102,1) 0%, rgba(239,131,114,1) 40%, rgba(243,161,131,1) 100%);
  background: -ms-linear-gradient(top, rgba(236,111,102,1) 0%, rgba(239,131,114,1) 40%, rgba(243,161,131,1) 100%);
  background: linear-gradient(to bottom, rgba(236,111,102,1) 0%, rgba(239,131,114,1) 40%, rgba(243,161,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6f66', endColorstr='#f3a183', GradientType=0 );
  background-size: cover;
  background-repeat: no-repeat;
}

.grd-2{
  background: rgba(194,229,156,0.5);
  background: -moz-linear-gradient(top, rgba(194,229,156,0.5) 0%, rgba(124,192,222,0.5) 75%, rgba(100,179,244,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(194,229,156,0.5)), color-stop(75%, rgba(124,192,222,0.5)), color-stop(100%, rgba(100,179,244,1)));
  background: -webkit-linear-gradient(top, rgba(194,229,156,0.5) 0%, rgba(124,192,222,0.5) 75%, rgba(100,179,244,1) 100%);
  background: -o-linear-gradient(top, rgba(194,229,156,0.5) 0%, rgba(124,192,222,0.5) 75%, rgba(100,179,244,1) 100%);
  background: -ms-linear-gradient(top, rgba(194,229,156,0.5) 0%, rgba(124,192,222,0.5) 75%, rgba(100,179,244,1) 100%);
  background: linear-gradient(to bottom, rgba(194,229,156,0.5) 0%, rgba(124,192,222,0.5) 75%, rgba(100,179,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e59c', endColorstr='#64b3f4', GradientType=0 );
  background-size: cover;
  background-repeat: no-repeat;
}

.grd-3{
  background: rgba(215,221,232,1);
  background: -moz-linear-gradient(top, rgba(215,221,232,1) 0%, rgba(142,151,174,1) 75%, rgba(142,151,174,1) 75%, rgba(117,127,154,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,221,232,1)), color-stop(75%, rgba(142,151,174,1)), color-stop(75%, rgba(142,151,174,1)), color-stop(100%, rgba(117,127,154,1)));
  background: -webkit-linear-gradient(top, rgba(215,221,232,1) 0%, rgba(142,151,174,1) 75%, rgba(142,151,174,1) 75%, rgba(117,127,154,1) 100%);
  background: -o-linear-gradient(top, rgba(215,221,232,1) 0%, rgba(142,151,174,1) 75%, rgba(142,151,174,1) 75%, rgba(117,127,154,1) 100%);
  background: -ms-linear-gradient(top, rgba(215,221,232,1) 0%, rgba(142,151,174,1) 75%, rgba(142,151,174,1) 75%, rgba(117,127,154,1) 100%);
  background: linear-gradient(to bottom, rgba(215,221,232,1) 0%, rgba(142,151,174,1) 75%, rgba(142,151,174,1) 75%, rgba(117,127,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dde8', endColorstr='#757f9a', GradientType=0 );
  background-size: cover;
  background-repeat: no-repeat;
}